.App-header {
  text-align: center;
  margin: 80px 0 40px 0;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}

blockquote h2 {
  font-family: "La Belle Aurore", cursive;
  font-size: 40px;
}

figcaption {
  font-family: "Poppins", sans-serif;
}
