.App {
  max-width: 960px;
  display: block;
  margin: 0 auto;
}

.App-header {
  text-align: center;
  margin: 80px 0 40px 0;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}

blockquote h2 {
  font-family: "Harry Potter", sans-serif;
  font-size: 62px;
}

figcaption {
  text-align: center;
  font-family: "Mrs Saint Delafield", cursive;
  font-size: 20px;
  margin-top: 10px;
}

@media (max-width: 800px) {
  blockquote h2 {
    font-size: 45px;
  }
}
